/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

.linked a {
    text-decoration: none;
    color: var(--clr-black);
    font-size: 21px;
    margin-left: 0.9em;
    margin-right: 0.9em;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
}
.menu-icon {
    display: none;
}
/* .home-section {
    background-color: var(--clr-grey-10);
} */
.hero-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0;
}

.navegate {
    background-color: rgb(234, 233, 226);
}

.img-container img {
    width: 430px;

    background-size: cover;
    border-radius: 20%;
}

.hero-info {
    margin: 1em;
}
.hero-info h1 {
    font-size: 38px;
    font-weight: 800;
    color: var(--clr-grey-4);
}
.hero-info h5 {
    color: var(--clr-grey-7);
}
.section-services {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding: 2em;
}
.info-cards {
    margin: 20px;
    text-transform: capitalize;
}
.service-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
}
.service-title {
    font-size: 43px;
    text-align: center;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rows {
    display: flex;
    flex-direction: row;
    font-size: 27px;
}
.social {
    background-color: rgb(222, 219, 215);
}
.rows h4 {
    padding-left: 1em;
    padding-right: 1em;
}
.hero-section-one {
    display: flex;
    flex-direction: column;
}

.underline {
    background-color: rgb(226, 208, 94);
    width: 120px;
    height: 5px;
}
.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-video {
    position: relative;
}
.vertical {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 0.2px solid white;
    height: 60vh;
}
.hero-content {
    position: absolute;
    top: 0;
    background-color: rgba(202, 185, 34, 0.186);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.hero-content h1 {
    font-size: 3em;
    padding: 2em;
    padding-left: 1em;
    padding-bottom: 0;
    font-weight: 300;
    color: var(--clr-grey-9);
}
.hero-content h6 {
    color: var(--clr-grey-9);
    padding-left: 2.2em;
    width: 80%;
    font-size: 23px;
    font-weight: 200;
    z-index: 999;
}
.hero-contact {
    display: flex;
    flex-direction: column;
}
.hero-btn {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.6em;
    font-weight: 200;
    margin: 0 auto;
    background-color: rgba(226, 208, 94, 0.431);
    border: 2px solid rgb(226, 208, 94);
    color: white;
    margin-top: 2em;
    text-decoration: none;
    cursor: pointer;
    z-index: 999;
    transition: var(--transition);
}
.hero-btn:hover {
    background-color: transparent;
    color: #fff;
}
.about-content {
    display: flex;
    align-items: center;
    padding: 1em;
}
.about-card {
    padding: 1em;
}
.iconf {
    display: flex;
    align-items: baseline;
    padding-right: 0.2em;
    font-size: 16px;
    color: #222;
    transition: var(--transition);
}
.iconf:hover {
    color: rgb(226, 208, 94);
}
.iconf p {
    color: #222;
}
.iconf a {
    text-decoration: none;
    color: #222;
    transition: var(--transition);
}
.footer-icon {
    padding-right: 0.4em;
    font-size: 22px;
}
.footer-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background-color: rgb(228, 223, 223);
}
.capi {
    text-transform: capitalize;
}
.form-contact {
    padding: 5em;
    padding-left: 1em;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}
@media screen and (max-width: 800px) {
    .menu-icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    .linked a {
        display: none;
    }
    .hero-content h1 {
        font-size: 25px;
        font-weight: 600;
        padding: 0.9em;
        margin-bottom: 0;
    }
    .hero-content h6 {
        font-size: 12px;
        padding-top: 0;
    }
    .hero-btn {
        font-size: 16px;
        margin-top: 0;
        border: rgb(226, 208, 94);
    }
    .about-content {
        flex-flow: wrap;
    }
}
